@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Tales of Scare FX";
    font-weight: 400;
    src: url("./fonts/Tales of Scare FX Over.ttf") format("truetype");
  }
  @font-face {
    font-family: "Tales of Scare FX";
    font-weight: 500;
    src: url("./fonts/Tales of Scare FX Over.ttf") format("truetype");
  }
}
